## =============================================
## Intended Configuration for par-off-sw-01
## Location: PAR-OFFICE
## Role: Access Switch
## Platform: Juniper JunOS
## =============================================

system {
    host-name par-off-sw-01;
    domain-name techademy.lab;
    time-zone UTC;
    ## --- AAA ---
    authentication-order [ password ];
    ## --- NTP ---
    ntp {
        server 10.100.0.1 prefer;
        server 10.200.0.99;
    }
    ## --- DNS ---
    name-server {
        10.100.0.10;
        10.100.0.11;
    }
    ## --- Logging ---
    syslog {
        host 10.200.0.990 {
            any info;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    ## --- Banner ---
    login {
        message "*************************************************************\n* AUTHORIZED ACCESS ONLY                                    *\n* Device: par-off-sw-01 | Location: PAR-OFFICE\n*************************************************************";
    }
    ## --- SSH ---
    services {
        ssh {
            protocol-version v2;
            connection-limit 10;
        }
        netconf {
            ssh;
        }
    }
}
## --- SNMP ---
snmp {
    community TechademyRO {
        authorization read-only;
    }
    community TechademyRW {
        authorization read-write;
    }
    location "PAR-OFFICE";
    contact "noc@techademy.lab";
}
