## =============================================
## Intended Configuration for chi-dc1-core-rtr-01
## Location: CHI-DC1
## Role: Core Router
## Platform: Juniper JunOS
## =============================================

system {
    host-name chi-dc1-core-rtr-01;
    domain-name techademy.lab;
    time-zone UTC;
    ## --- AAA ---
    authentication-order [ password ];
    ## --- NTP ---
    ntp {
        server 10.100.0.1 prefer;
        server 10.100.0.2;
    }
    ## --- DNS ---
    name-server {
        10.100.0.10;
        10.100.0.11;
    }
    ## --- Logging ---
    syslog {
        host 10.100.0.20 {
            any info;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    ## --- Banner ---
    login {
        message "*************************************************************\n* AUTHORIZED ACCESS ONLY                                    *\n* Device: chi-dc1-core-rtr-01 | Location: CHI-DC1\n*************************************************************";
    }
    ## --- SSH ---
    services {
        ssh {
            protocol-version v2;
            connection-limit 10;
        }
        netconf {
            ssh;
        }
    }
}
## --- SNMP ---
snmp {
    community TechademyRO {
        authorization read-only;
    }
    community TechademyRW {
        authorization read-write;
    }
    location "CHI-DC1";
    contact "noc@techademy.lab";
}
