# =============================================
# Intended Configuration for nyc-dc1-srv-03
# Location: NYC-DC1
# Role: Server
# Platform: Linux Server
# =============================================

# --- Hostname ---
hostname=nyc-dc1-srv-03

# --- DNS Configuration ---
# /etc/resolv.conf
nameserver 10.100.0.10
nameserver 10.100.0.11
search techademy.lab

# --- NTP Configuration ---
# /etc/chrony.conf or /etc/ntp.conf
server 10.100.0.1 iburst prefer
server 10.200.0.99 iburst

# --- SNMP Configuration ---
# /etc/snmp/snmpd.conf
rocommunity TechademyRO
syslocation NYC-DC1
syscontact noc@techademy.lab

# --- Logging Configuration ---
# /etc/rsyslog.d/remote.conf
*.* @10.200.0.990:514

# --- SSH Configuration ---
# /etc/ssh/sshd_config
Protocol 2
PermitRootLogin no
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 60

# --- Banner ---
# /etc/issue.net
#####################################################
# AUTHORIZED ACCESS ONLY                           #
# Device: nyc-dc1-srv-03                         #
# Location: NYC-DC1              #
#####################################################
