# =============================================
# Intended Configuration for {{ obj.name }}
# Location: {{ obj.location.name }}
# Role: {{ obj.role.name }}
# Platform: {{ obj.platform.name }}
# =============================================

# --- Hostname ---
hostname={{ obj.name }}

# --- DNS Configuration ---
# /etc/resolv.conf
nameserver 10.100.0.10
nameserver 10.100.0.11
search techademy.lab

# --- NTP Configuration ---
# /etc/chrony.conf or /etc/ntp.conf
server 10.100.0.1 iburst prefer
server 10.100.0.2 iburst

# --- SNMP Configuration ---
# /etc/snmp/snmpd.conf
rocommunity TechademyRO
syslocation {{ obj.location.name }}
syscontact noc@techademy.lab

# --- Logging Configuration ---
# /etc/rsyslog.d/remote.conf
*.* @10.100.0.20:514

# --- SSH Configuration ---
# /etc/ssh/sshd_config
Protocol 2
PermitRootLogin no
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 60

# --- Banner ---
# /etc/issue.net
#####################################################
# AUTHORIZED ACCESS ONLY                           #
# Device: {{ obj.name }}                         #
# Location: {{ obj.location.name }}              #
#####################################################
