!
! =============================================
! Intended Configuration for dal-dc1-leaf-02
! Location: DAL-DC1
! Role: Leaf Switch
! Platform: Cisco NX-OS
! =============================================
!
hostname dal-dc1-leaf-02
!
! --- Feature Set ---
feature ssh
feature scp-server
feature nxapi
feature interface-vlan
!
! --- AAA Configuration ---
aaa authentication login default local
!
! --- NTP Configuration ---
ntp server 10.100.0.1 use-vrf management
ntp server 10.100.0.2 use-vrf management
clock timezone UTC 0 0
!
! --- DNS Configuration ---
ip domain-name techademy.lab
ip name-server 10.100.0.10
ip name-server 10.100.0.11
!
! --- SNMP Configuration ---
snmp-server community TechademyRO group network-operator
snmp-server community TechademyRW group network-admin
snmp-server location DAL-DC1
snmp-server contact noc@techademy.lab
!
! --- Logging ---
logging server 10.100.0.20
logging level local7 6
logging source-interface loopback0
!
! --- Banner ---
banner motd #
*************************************************************
* AUTHORIZED ACCESS ONLY                                    *
* Device: dal-dc1-leaf-02 | Location: DAL-DC1
*************************************************************
#
!
! --- SSH / VTY ---
line vty
  session-limit 10
  exec-timeout 15
!
end
